.image-box {
    display: flex;
  }
  
  .name {
    height: auto;
    width: auto;
    font-size: initial;
    font-family: 'Mutant';
    color: white;
  }

  .image {
    justify-content: center;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    margin-inline: auto;
    box-sizing: border-box;
  }
  img {
    width: 50%;
    height: 75%;
    object-fit: contain;
  }