<section class="game-selection">

    <div class="container">
      <div class="row">
        <div class="col-12 mt-5">
          <div class="d-flex justify-content-start">
            <a href="/">
              <button class="btn btn-primary primary-button" >Zurück</button>
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button class="btn btn-secondary btn-lg btn-square btn-zoom" type="button" (click)="handleClick()">Errate das Bild</button>
          <button class="btn btn-secondary btn-lg btn-square  blur">Hampelman</button>
          <button class="btn btn-secondary btn-lg btn-square  blur">Butterkorn</button>
          <button class="btn btn-secondary btn-lg btn-square  blur">Drehfinger</button>
          <button class="btn btn-secondary btn-lg btn-square  blur">5header</button>
        </div>
      </div>
      <div class="row mt-5 custom-margin-bottom">
        <div class="col-12 text-center">
          <div class="d-flex align-items-center justify-content-center room">
            <input type="text" class="form-control me-2 mb-2 custom-margin room-input"  placeholder="Raumcode eingeben">
            <button class="btn btn-primary primary-button">Bestätigen</button>
          </div>
        </div>
      </div>
    </div>
</section>

