<div class="slider">
  <div>
    <div (click)="goToPrevious()" class="leftArrow">❰</div>
    <div (click)="goToNext()" class="rightArrow">❱</div>
  </div>
  <div
    class="slide"
    [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"
  ></div>
  <div class="dotsContainer">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
    >
      <span *ngIf="slideIndex === getCurrentIndex()" style="color: white">
          ●
        <input type="hidden" name="character" form="character" value="{{getCurrentSlideUrlOnlyURl()}}" id="charakter">
      </span>
      <span *ngIf="slideIndex !== getCurrentIndex()">
        ●
      </span>
    </div>
  </div>
</div>
