<section class="gamepage-main-window">

  <section class="gamepage-main-windows-socials-container">

    <div class="gamepage-socials"></div>
    <div class="gamepage-gamename"></div>
    <div class="gamepage-raumcode"></div>

  </section>

  <section class="gamepage-main-window-game-container">

    <div class="game-bild"></div>

    <div class="game-communication">
      <div class="game-players">
        <div class="game-playerlist"></div>
      </div>
      <div class="game-chat">
        <div class="game-chatmessages"></div>
      </div>
    </div>

  </section>

</section>
