<section class="gamepage-main-window">

  <div class="center-all">
    <div class="socials">
      <div class="share">
        <div class="share-whatsapp">
          <button class="share-whatsapp-button" (click)="shareOnWhatsapp()">
            <img src="assets/social-logos/whatsapp_logo.png">
          </button>
        </div>
        <div class="share-insta">
          <button class="share-insta-button" (click)="shareOnInstagram()">
            <img src="assets/social-logos/insta_logo.png">
          </button>
        </div>
        <div class="share-twitter" (click)="shareOnTwitter()">
          <button class="share-twitter-button">
            <img src="assets/social-logos/twitter_logo.png">
          </button>
        </div>
        <div class="share-discord" (click)="shareOnDiscord()">
          <button class="share-discord-button">
            <img src="assets/social-logos/discord_logo.png">
          </button>
        </div>
      </div>
      <div class="font-white">Errate das Bild</div>
      <div class="room-code">
        <div class="font-white">Raumcode</div>
        <div class="font-white">{{roomCode}}</div>
      </div>
    </div>
  </div>

  <div class="center-all game">
    <div class="game-windows background">
      <div class="game-game">
        <div id="zoomed-picture">
          <!-- <img src="assets/guessing-pictures/spongebob_1.png" id="zoomed-in-picture"> -->
          <img [src]="zoomedPictureSrc" id="zoomed-in-picture">
        </div>
      </div>
    </div>
    <div class="game-info">
      <div class="game-character background">
        <div class="font-white f-1">Spieler</div>
        <div class="character background" id="character"></div>
      </div>
      <div class="game-chat background">
        <div class="font-white f-1"> Chat</div>
        <div class="chat background">
          <div class="chat-messages" id="chatMessages"></div>
          <form (ngSubmit)="submitMessage()" #myForm="ngForm">
            <div class="chat-controls-container">
              <div class="chat-controls">
                <div>
                  <input id="guess-input" type="text" placeholder="Guess it!" name="chat-message" [(ngModel)]="formData.guess" >
                </div>
                <div>
                  <button id="submit-button" type="submit" class="primary-button">GET IT!</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="mobile-chat">
  <div class="chat-controls">
    <div>
      <input type="text" placeholder="Schreibe etwas.."  name="chat-message">
    </div>
    <div>
      <button type="submit" class="primary-button">Senden</button>
    </div>
  </div>

</div>
</section>

