/*
@import "../../variables";
.gamepage-main-window{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  .gamepage-main-window-container{
    display: flex;
    flex-direction: row;
    gap: 5px;

    background-color: $light-grey-body;
    border: 5px solid $black;
    border-radius: 15px;

    .game-bild{
      display: flex;

      padding: 150px 500px;
      margin: 15px;
      background-color: silver;
      border: 5px solid $black;
      border-radius: 15px;
    }

    .game-communication{
      display: flex;
      flex-direction: column;
      gap: 5px;

      margin: 15px;

      background-color: $light-grey-body;
      border: 5px solid $black;
      border-radius: 15px;

      .game-players{
        display: flex;

        padding: 70px 100px;
        margin: 15px;

        background-color: silver;
        border: 5px solid $black;
        border-radius: 15px;
      }

      .game-chat{
        display: flex;

        padding: 250px 300px;
        padding-bottom: 250px;
        margin: 15px;

        background-color: silver;
        border: 5px solid $black;
        border-radius: 15px;
      }
    }
  }
}

.player-text{
}

.chat-text{
}

@media screen and (max-width: 500px){
  .game-chat {
    flex-direction: row;
  }
}
*/

@import "../../variables";
.gamepage-main-window{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);

  .gamepage-main-windows-socials-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-height: 10vh;
    min-width: 80vw;
    padding: 15px;

    background-color: rgba($black, 0.35);
    border: 5px solid $black;
    border-radius: 15px;

    .gamepage-socials{
      width: 400px;
      background-color: rgba($dark-grey, 0.75);
      border: 5px solid $black;
      border-radius: 15px;
    }

    .gamepage-gamename{
      width: 400px;
      background-color: rgba($dark-grey, 0.75);
      border: 5px solid $black;
      border-radius: 15px;
    }

    .gamepage-raumcode{
      width: 300px;
      background-color: rgba($dark-grey, 0.75);
      border: 5px solid $black;
      border-radius: 15px;
    }
  }

  .gamepage-main-window-game-container{
    display: flex;
    flex-direction: row;
    gap: 15px;

    min-height: 65vh;
    min-width: 80vw;

    margin-top: 20px;
    padding: 15px;

    background-color: rgba($black, 0.35);
    border: 5px solid $black;
    border-radius: 15px;

    .game-bild{
      display: flex;
      flex-grow: 2;

      background-color: rgba($dark-grey, 0.75);
      border: 5px solid $black;
      border-radius: 15px;
    }

    .game-communication{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 20px;

      .game-players{
        // TODO Bordering/Padding von Playerlist
        display: flex;

        min-height: 25vh;

        background-color: rgba($dark-grey, 0.75);
        border: 5px solid $black;
        border-radius: 15px;

        .game-playerlist{

          background-color: rgba($light-grey-body, 0.75);
          border: 5px solid $black;
          border-radius: 15px;
        }
      }

      .game-chat{
        // TODO Bordering/Padding von Chatmessages
        display: flex;

        min-height: 40vh;

        background-color: rgba($dark-grey, 0.75);
        border: 5px solid $black;
        border-radius: 15px;

        .game-chatmessages{
          background-color: rgba($light-grey-body, 0.75);
          border: 5px solid $black;
          border-radius: 15px;
        }
      }
    }
  }
}

.player-text{
}

.chat-text{
}

@media screen and (min-width: 500px) {
  .gamepage-main-windows-socials-container{
    flex-direction: column;
  }

  .gamepage-main-window-game-container{
    flex-direction: column;
  }
}
