<!--
<section class="gamepage-main-window">

  <section class="gamepage-main-windows-socials-container">

    <div class="gamepage-socials"></div>
    <div class="gamepage-gamename"></div>
    <div class="gamepage-raumcode"></div>

  </section>

  <section class="gamepage-main-window-game-container">

    <div class="game-bild"></div>

    <div class="game-communication">
      <div class="game-players">
        <div class="game-playerlist"></div>
      </div>
      <div class="game-chat">
        <div class="game-chatmessages"></div>
      </div>
    </div>

  </section>

</section>
-->


<section class="gamepage-main-window">

  <div class="center-all">
    <div class="socials">
      <div class="share">
        <div>
          #wa
        </div>
        <div>
          #insta
        </div>
        <div>
          #fb
        </div>
        <div>
          #twittwe
        </div>
      </div>
      <div class="font-white">
        Errate das Bild
      </div>
      <div class="room-code">
        <div class="font-white">
          Raumcode
        </div>
        <div class="font-white">
          1234
        </div>
      </div>
    </div>
  </div>

  <div class="center-all game">
    <div class="game-windows background">

    </div>
    <div class="game-info">
      <div class="game-character background">
        <div class="font-white f-1">
           Spieler
        </div>
        <div class="character background">

        </div>
      </div>
      <div class="game-chat background">
        <div class="font-white f-1">
          Chat
        </div>
        <div class="chat background">
          <div class="chat-messages">
          </div>

          <div class="chat-controls-container">
            <div class="chat-controls">
              <div>
                <input type="text" placeholder="Schreibe etwas.."  name="chat-message">
              </div>
              <div>
                <button type="submit" class="primary-button">
                  Senden
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="mobile-chat">
  <div class="chat-controls">
    <div>
      <input type="text" placeholder="Schreibe etwas.."  name="chat-message">
    </div>
    <div>
      <button type="submit" class="primary-button">
        Senden
      </button>
    </div>
  </div>

</div>
</section>
