@import "bootstrap";

@import "variables";

@font-face {
  font-family: 'Goffik';
  src: url('/assets/fonts/Goffik.ttf');
}

@font-face {
  font-family: 'Mutant';
  src: url("/assets/fonts/MutantAcademyBB.ttf");
}

